---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

<ul>
  <li>Exploring Real-time Data Transfers from Stanford Linear Accelerator Center (SLAC) to National Energy Research Scientific Computing Center (NERSC).</li>
  <li>Variance Component Testing in Generalized Linear Models with Random Effects: presentation of the paper by Xihong Lin.</li>
  <li>Association between Social Support and Treatment Adherence in Head and Neck Cancer Patients.</li>
</ul>

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
